<div class="bg-inf-blue"> <!-- Esto es necesario para poner la navbar dentro de un contaner sin notar el padding -->
    <div class="container">
        <nav class="navbar bg-inf-blue navbar-expand-lg">
            <a class="navbar-brand" href="index.html">
            <img src="Images/Logotipo-Informatorio.svg" class="align-top" alt="Cinque Terre" height="25">
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="responsivo">  
                <div class="row">
                    <div class="col-12">
                        <ul class="nav navbar-nav ml-auto  mt-2 mt-md-0 enlace">
                            <li><a class="nav-item nav-link text-white" href="#">¿Qué es el informatorio?</a></li>
                            <li><a class="nav-item nav-link text-white" href="#">Cursos</a></li>
                            <li><a class="nav-item nav-link text-white" href="#">Proyectos</a></li>
                            <li><a class="nav-item nav-link text-white" href="#">Galería</a></li>
                            <li><a class="nav-item nav-link text-white" href="#">Blog</a></li>
                            <li><a class="nav-item nav-link text-white" href="#">INICIAR SESIÓN</a></li>		
                        </ul>	
                    </div>
                </div>	
            </div>  
        </nav>
    </div>
</div>