@{
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<div class="col-10 ">
    <div class="card-inf my-3 ml-0">
        <div class="card-header-inf bg-inf-blue h3 text-white">@ViewBag.title</div>
        <div class="card-body-inf">

            <ul class="nav nav-tabs card-header-tabs nav-fill px-2">

                <li class="nav-item"><a class="nav-link inactive-inf text-white" asp-controller="Posts" asp-action="Index">Muro</a></li>
                <li class="nav-item"><a class="nav-link active-inf" asp-controller="FileClient" asp-action="Index">Materiales</a></li>
                <li class="nav-item"><a class="nav-link inactive-inf text-white" asp-controller="Evaluations" asp-action="GetStudents">Instancias Evaluativas</a></li>
            </ul>


            <div class="card-body-inf bg-inf-gray">



                <div class="card-inf mt-3">
                    <div class="card-header-inf bg-inf-blue text-white ">
                        <h6 class="mb-0">Nuevo Material</h6>
                    </div>
                    <div class="card-body-inf p-3">
                        <div class="form-group m-0">
                            <form enctype="multipart/form-data" method="post" action="http://localhost:60350/files" id="ajaxUploadForm" novalidate="novalidate">
                                <fieldset>
                                    <div class="form-group m-0">

                                        <textarea rows="2" placeholder="Escriba una breve descripción del archivo a compartir..." class="form-control" name="description" id="description"></textarea>
                                        <div class="col-xs-12" style="padding-top: 10px">
                                            <div class="col-xs-7">
                                                <input type="file" name="file" id="fileInput">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-6 ">
                                                <input type="submit" value="Agregar" id="ajaxUploadButton" class="btn btn-inf btn-sm btn-block mt-3">
                                            </div>

                                            <div class="col-6 ">
                                                <button asp-action="Index" class="btn btn-inf btn-sm btn-block mt-3">Cancelar</button>

                                            </div>
                                        </div>
                                        
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
</div>
        </div>
        </div>
</div>