@model ProyectoNET_DB.Info2017.Evaluation
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}
<div class="col-10 ">
    <div class="card-inf my-3 ml-0">
        <div class="card-header-inf bg-inf-blue h3 text-white">@ViewBag.Title</div>
        <div style="background-color: whitesmoke;">
            <div class="card-body-inf ">
                <div class="card-body-inf-white pre">
                    <div class="card-header bg-inf-blue">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item"><a class="nav-link inactive-inf text-white" asp-controller="Posts" asp-action="Index">Muro</a></li>
                            <li class="nav-item"><a class="nav-link inactive-inf text-white" asp-controller="FileClient" asp-action="Index">Materiales</a></li>
                            <li class="nav-item"><a class="nav-link active-inf" asp-controller="Evaluations" asp-action="Index">Instancias Evaluativas</a></li>
                        </ul>
                    </div>
                        <div class="card-body-inf bg-inf-gray">



                            <div class="card-inf mt-3">
                                <div class="card-header-inf bg-inf-blue text-white ">

                                    <h4 class="text-center">¿Está Seguro que desea eliminar la siguiente Publicación?</h4>
                                </div>
                                <div class="card-body-inf p-3">
                                    <div>
                                        <hr />
                                        <dl class="dl-horizontal">
                                            <dt>
                                                <p>Nombre</p>
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => model.Name)
                                            </dd>
                                            <dt>
                                                <p>Fecha de Creación</p>
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => model.DateEvaluation)
                                            </dd>
                                        </dl>

                                        <p>Notas</p>



                                        <form asp-action="Delete">

                                            <input type="hidden" asp-for="IdEvaluation" />
                                            <div class="row">
                                                <div class="col-6 ">
                                                    <input type="submit" value="Eliminar" class="btn btn-inf btn-sm btn-block mt-3">
                                                </div>

                                                <div class="col-6 ">
                                                    <button asp-action="Index" class="btn btn-inf btn-sm btn-block mt-3">Cancelar</button>

                                                </div>
                                            </div>
                                        </form>

                                </div>
                            </div>
                        </div>
                    </div>
        </div>
</div>